@mixin rotate($deg: 180, $x: null, $y: 0, $z: 0){
    $use: rotate($deg+deg);
    @if $x != null {
        $use: rotate3d($x, $y, $z, $deg+deg);
    }
    -webkit-transform: $use;
    -moz-transform: $use;
    -ms-transform: $use;
    -o-transform: $use;
    transform: $use;
}
